<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/all.js"></script>
  </head>
  <body>
    {{> index}}
  </body>
</html>
