@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

/* Variables */
$padding: 1em;

/* Grid overrides */
#page-container {
  @extend %site-width-container;
  .phase-banner {
    border-bottom: none;
  }
}
.grid-row {
  @extend %grid-row;
}
.column-full {
  @include grid-column( 1/1 );
  position: relative;
}
.column-two-thirds {
  @include grid-column( 2/3 );
  position: relative;
}
.column-three-quarters {
  @include grid-column( 3/4 );
  position: relative;
}

/* Header overrides */
.phase-banner  {
  @include phase-banner($state: beta);
}
@media (min-width: 480px) {
  #global-header {
    &.with-proposition {
      .header-wrapper {
        .header-global {
          float: left;
          width: 10%;
        }
        .header-proposition {
          width: 90%;
          float: left;
        }
      }
    }
    .header-proposition {
      padding-top: 0;
      #proposition-name {
        @include bold-36;
      }
      #proposition-link,
      #proposition-links {
        a {
          @include bold-19;
        }
      }
      a.menu {
        @include core-19;
      }
    }
  }
}

@mixin updated_timestamp {
  @include core-19;
  text-align: right;
  color: $red;
  position: absolute;
  top: $padding;
  @include media(320px, 640px) {
    top: 0;
  }
  right: 1.25em;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h1 {
  @include bold-36;
}

/* Dashboard */
.centre_data {
  padding: 0;
  h2 {
    @include bold-24;
    text-transform: capitalize;
    padding: $padding 0;
  }
  .panel {
    background-color: $grey-3;
    margin: 0 $padding*5 $padding*3;
    padding: $padding*2 $padding 0 $padding*2;
    box-sizing: border-box;
    width: 60%;
    position: relative;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    li {
      margin: 0 $padding/10 0 0;
      padding-bottom: $padding*2;
      line-height: 1;
      white-space: nowrap;
    }
    strong {
      @include bold-48;
    }

    a {
      display: block;
    }
  }
}

.bed-count-updated {
  @include updated_timestamp;
}
.bed-count-figure {
  @include bold-48;
  line-height: 0.9;
  display: inline-block;
  vertical-align: initial;
  padding-right: $padding/10;
}
.bed-count-label {
  @include core-19;
  line-height: 0.9;
  display: inline-block;
  white-space: normal;
}

/* Stats page */
.stat_data {
  position: relative;
  .centre_updated {
    @include updated_timestamp;
  }
  table {
    @include media(320px, 640px) {
      margin: 0 0 2em;
      width: 100%;
    }
    margin: $padding $padding*5 $padding*3 $padding*5;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    width: calc(100% - #{$padding*10});
    caption {
      text-align: left;
      @include bold-24;
      text-transform: capitalize;
      @include word-wrap();
    }
    thead {
      tr {
        th,
        td {
          padding: 0 1.25em $padding/2 0;
          vertical-align: bottom;
          &.numeric {
            @include bold-19($tabular-numbers: true);
            text-align: right;
          }
        }
      }
    }
    tfoot,
    tbody {
      background-color: $grey-3;
      tr {
        th,
        td {
          @include core-19;
          padding: 0.75em 1.25em 0.5625em 0;
          text-align: left;
          min-width: 25%;
          @include word-wrap();
          &:first-child {
            min-width: 50%;
            @include bold-19;
          }
        }
        @media (min-width: 641px) {
          th,
          td {
            @include bold-19;
            @include word-wrap();
          }
        }
        th {
          padding-left: 2em;
        }
        th,
        td {
          &.numeric {
            @include core-19($tabular-numbers: true);
            text-align: right;
          }
        }
        &.row_centre_ooc {
          th,
          td {
            border-bottom: $padding/5 solid $black;
          }
        }
        &.row_centre_occupied,
        &.row_centre_capacity {
          border-bottom: $padding/10 solid $grey-2;
        }
      }
    }
    tbody {
      tr {
        th {
          span::before {
            content:"-";
            padding-right: 0.5em;
          }
        }
      }
    }
  }
}

/* Footer overrides */
#footer {
  border-top: none;
}

/* Buttons */
.button{
  @include button;
  vertical-align: super;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}
