@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

#page-container {
  @extend %site-width-container;
}
.grid-row {
  @extend %grid-row;
}
.column-half {
  @include grid-column( 1/2 );
  padding: 15px;
}
@media (min-width: 320px) {
  #global-header.with-proposition .header-wrapper .header-global {
    float: left;
    width: 33.33%;
  }
  #global-header.with-proposition .header-wrapper .header-proposition {
    width: 66.66%;
    float: left;
  }
}
#centres {
  padding: 0;
  .panel {
    background-color: #DEE0E2;
    margin: 0 50px;
    padding: 30px 30px 0;
    ul {
      padding:0;
      list-style-type: none;
    }
    li {
      margin: 0 10px 0 0;
      padding-bottom: 30px;
    }
    strong {
      @include bold-48;
    }
    h2 {
      padding: 15px 15px 0;
      @include core-24;
    }
    a {
      display: block;
    }
  }
}
.phase-banner  {
  @include phase-banner(alpha);
}
.button{
  @include button;
  vertical-align: super;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}
.bed-count-figure {
  @include bold-48;
  font-size: 48px;
  line-height: 0.9;
  display: inline-block;
  vertical-align: initial;
  min-width: 20%;
}
.bed-count-label {
  display: inline-block;
  padding-left: 0.5em;
  white-space: normal;
  line-height: 0.9;
  @include core-19;
}

.panel-beds {
  table, p {
    @include core-14;
    margin: 0.5em 0;
    tr:nth-child(odd) {
      background: #fff;
    }
    tr:nth-child(even) {
      background: lightgray;
    }
    td {
      width: 30%;
      input {
        @include core-14;
        width: 90%;
      }
      input[type="checkbox"] {
        @include core-19;
      }
    }
    td:nth-child(4),
    td:nth-child(5) {
      width: 5%;
    }

  }
}
