<li><span class='bed-count-figure'>{{available}}</span> <span class='bed-count-label'>{{type}} beds available</span><input class='button' type='submit' value='Book 1 bed'><a href='#'>Ring-fence beds</a></li>
<!--<div class="js-tabs nav-tabs">
    <ul>
        <li class="active"><a href="#beds_{{centre_id}}_booked">{{booked}} booked</a></li>
        <li><a href="#beds_{{centre_id}}_reserved">{{reserved}} ring-fenced</a></li>
    </ul>
</div>
<div class="js-tab-content tab-content">
    <div class="js-tab-pane tab-pane" id="#beds_{{centre_id}}_booked">
        Booked beds
    </div>
    <div class="js-tab-pane tab-pane" id="#beds_{{centre_id}}_reserved">
        Reserved beds
    </div>
</div>-->
