<table>
  <thead>
    <tr>
      <th>At</th>
      <th>CID Number</th>
      <th>By</th>
      <th>Actioned</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:08:14</td>
      <td><a href="#">347659222</a></td>
      <td>Judy</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>10:04:14</td>
      <td><a href="#">676762379</a></td>
      <td>Stuart</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>10:01:14</td>
      <td><a href="#">879926728</a></td>
      <td>Abdul</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:55:09</td>
      <td><a href="#">526449404</a></td>
      <td>Judy</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:45:09</td>
      <td><a href="#">6357485784</a></td>
      <td>Steve</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:35:09</td>
      <td><a href="#">526449404</a></td>
      <td>Judy</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:30:09</td>
      <td><a href="#">787889982</a></td>
      <td>Alan</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:25:09</td>
      <td><a href="#">1238478575</a></td>
      <td>Farhad</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:20:09</td>
      <td><a href="#">3982498349</a></td>
      <td>Ian</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td>9:15:09</td>
      <td><a href="#">4875847222</a></td>
      <td>Dave</td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
  </tbody>
</table>
