<div class='column-half'>
    <div class='panel'>
        <h2>{{name}}</h2>
        <ul>
            {{#beds}}
              {{> bed}}
            {{/beds}}
        </ul>
    </div>
    <section class="tabstuff">
    <div class="js-tabs nav-tabs">
        <ul>
            <li class="active"><a href="#beds_{{centre_id}}_booked">{{booked}} booked</a></li>
            <li><a href="#beds_{{centre_id}}_reserved">{{reserved}} ring-fenced</a></li>
        </ul>
    </div>
    <div class="js-tab-content tab-content">
        <div class="js-tab-pane tab-pane" id="#beds_{{centre_id}}_booked">
            Booked beds
        </div>
        <div class="js-tab-pane tab-pane" id="#beds_{{centre_id}}_reserved">
            Reserved beds
        </div>
    </div>
  </section>
</div>
