<div class='column-half'>
    <div class='panel'>
        <h2>{{name}}</h2>
        <ul>
            {{#beds}}
              {{> bed}}
            {{/beds}}
        </ul>
    </div>
    <section class="tabstuff">
        <div class="js-tabs nav-tabs">
            {{> tabs}}
        </div>
        <div class="js-tab-content tab-content">
            <div class="js-tab-pane tab-pane tab-beds tab-beds-booked" id="beds_{{centre_id}}_booked">
              {{> booked}}
            </div>
            <div class="js-tab-pane tab-pane tab-beds tab-beds-reserved" id="beds_{{centre_id}}_reserved">
              {{> reserved}}
            </div>
        </div>
      </section>
</div>
