<p>As of 10:27:09 {{name}} online activity:</p>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:08:23</td>
      <td>3 beds out of commission</td>
    </tr>
    <tr>
      <td>10:00:13</td>
      <td>45676345 checked out</td>
    </tr>
    <tr>
      <td>9:48:23</td>
      <td>33676345 checked out</td>
    </tr>
    <tr>
      <td>9:42:13</td>
      <td>23676345 booked by Shan</td>
    </tr>
    <tr>
      <td>9:18:42</td>
      <td>87676345 booked by Shan</td>
    </tr>
  </tbody>
</table>
<p><a href="#">See more</a></p>
