<p><strong>100</strong> beds all reserved until 23:59:59 tonight</p>
<table>
  <thead>
    <tr>
      <th>Task force</th>
      <th>Beds</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CC</td>
      <td><a href="#">50 male beds</a></td>
    </tr>
    <tr>
      <td>NRC</td>
      <td><a href="#">20 male beds</a></td>
    </tr>
    <tr>
      <td>HTU</td>
      <td><a href="#">10 male beds</a></td>
    </tr>
    <tr>
      <td>Lorry drop</td>
      <td><a href="#">20 male beds</a></td>
    </tr>
  </tbody>
</table>
