<p>Click a reservation to edit, hit return to save</p>
<table>
  <thead>
    <tr>
      <th>Task force</th>
      <th>Beds</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">Task force AMC</a></td>
      <td><a href="#">7 male beds</a></td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td><a href="#">Task force Y3L</a></td>
      <td><a href="#">12 male beds</a></td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
    <tr>
      <td><a href="#">Task force LIM</a></td>
      <td><a href="#">10 male beds</a></td>
      <td><input type="checkbox" value="checked"></td>
    </tr>
  </tbody>
</table>
