<div class="grid-row">
  <div class="column-full">
    <div class="centre_updated">{{updated_formatted}}</div>
    <table>
      <caption class="centre_name">{{name}}</caption>
      <thead>
        <tr>
          <td scope="col">&nbsp;</td>
          {{#beds}}
          <th scope="col" class="numeric">{{type}} bed{{plurality}}</th>
          {{/beds}}
        </tr>
      </thead>
      <tfoot>
        <tr class="row_centre_availability">
          <th scope="row">Availability</th>
          {{#beds}}
          <td class="numeric">{{available}}</td>
          {{/beds}}
        </tr>
      </tfoot>
      <tbody>
        <tr class="row_centre_capacity">
          <th scope="row">Capacity</th>
          {{#beds}}
          <td class="numeric">{{capacity}}</td>
          {{/beds}}
        </tr>
        <tr class="row_centre_occupied">
          <th scope="row"><span>Occupied</span></th>
          {{#beds}}
          <td class="numeric">{{occupied}}</td>
          {{/beds}}
        </tr>
        <tr class="row_centre_ooc">
          <th scope="row"><span>Beds out of commission</span></th>
          {{#beds}}
          <td class="numeric">{{ooc}}</td>
          {{/beds}}
        </tr>
      </tbody>
    </table>
  </div>
</div>
